<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8">
        <title>destiny.com</title>
          </head>
        <body>
            <h1>we will be right back</h1>
            <p>the site is currently updated</p>
        </body>
  
</html>
